@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* 
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: 18px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

/* firefox */
.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

.main-scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.main-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.main-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
}

.view-btn {
  position: relative;
  overflow: hidden;
}

.view-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.view-btn:hover::before {
  transform: scaleX(1);
}

.dark .view-btn:hover::before {
  border-color: #18181b;
}
